body {
	font-family:Roboto, sans-serif;
}
h1 {
	font-family: Platypi, serif;
	font-weight: 600;
}
h2{
	font-family: Roboto, sans-serif ;
	font-weight: 400;
}
.sub-title{
	font-family: "Sedan", serif;
}
